{% extends 'front_temp.html' %}
{% block content %}	
	<div class="row mt-3">
        <div class="col-sm-8">
            <div>
				<h5><span>{{ object.title }}</span></h5>
				<hr />
				<p><span>Date :</span> {{ object.start_date }}</p>
				<p><span>Locataion :</span> {{ object.location }}</p>
				<hr />
				<p>
					{% autoescape off %} {{ object.description }} {% endautoescape %}
				</p>	
            </div>
        </div>
		<div class="col-sm-4">
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title">CONTACT US</h5>
					<p class="card-text">
						<span>{{object.social}}</span><br/>
						<span>{{object.website}}</span><br/>
						<span>{{object.email}}</span><br/>
						<span>{{object.phone}}</span>
					</p>	
				</div>
			</div>
			
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title">DATE AND TIME</h5>
					<p class="card-text">
						<span>{{object.start_date}}</span><br/>
						<span>{{object.timezone}}</span>
					</p>					
				</div>
			</div>
			
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">LOCATION</h5>
					<p class="card-text">
						<span>{{ object.location }}</span><br/>		
						<span>{{ object.location.street }}</span><br/>	
						<span>{{ object.location.city }}</span><br/>	
						<span>{{ object.location.country }}</span>						
					</p>					
				</div>
			</div>	
		</div>
    </div>	
{% endblock %}

