{% extends 'admin_temp.html' %}
{% load widget_tweaks %}
<!--==Title==-->
{% block title %}
	Admin - User List
{% endblock %}
<!--==Nvbar Brand==-->
{% block sidebar %}
{% endblock %}
<!--==Content==-->
{% block content %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page"><h6 class="mb-0">Event</h6></li>
		</ol>
	</nav>
	<!-- Form Nhap lieu-->
	<div id="app_form" class="mb-4">
	{% if id == None %}
		<form action="{% url 'event:event' %}" method="post">
	{% else %}
		<form action="{% url 'event:event_update' id=id %}" method="post">
	{% endif %}
	   {% csrf_token %}	   
			<input type="submit" value="Submit" />
			<div class="row">
				<div class="col-md-6">
					<div class="row my-2">
						<div class="col-4 font-weight-bold">{{ form.name.label}}</div>
						<div class="col-8">{{ form.name}}</div>
					</div>						
					<div class="row my-2">
						<div class="col-4 font-weight-bold">{{ form.user.label}}</div>
						<div class="col-8">
							<select name="user" id="id_user" style="width:100%">
								{% for name in form.user %}
									{{ name }}
								{% endfor %}
							</select>
						</div>
					</div>						
					<div class="row my-2">
						<div class="col-4 font-weight-bold">{{ form.category.label}}</div>											
						<div class="col-8">
							<select name="category" id="id_category" style="width:100%">
								{% for name in form.category %}
									{{ name }}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="row my-2">
						<div class="col-4 font-weight-bold">{{ form.organizer.label}}</div>
						<div class="col-8">{{ form.organizer}}</div>
					</div>
					<div class="row my-2">
						<div class="col-4 font-weight-bold">{{ form.location.label}}</div>
						<div class="col-8">
							<select name="location" id="id_location" style="width:100%">
								{% for name in form.location %}
									{{ name }}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="row my-2">
						<div class="col-4 font-weight-bold">{{ form.start_date.label}}</div>
						<div class="col-8">{{ form.start_date}}</div>
					</div>				
				</div>	
				<div class="col-md-6">				
					<div class="row my-2">
						<div class="col-4 font-weight-bold">{{ form.phone.label}}</div>
						<div class="col-8">{{ form.phone}}</div>
					</div>	
					<div class="row my-2">
						<div class="col-4 font-weight-bold">{{ form.timezone.label}}</div>
						<div class="col-8">{% render_field form.timezone class="w-100" %}</div>
					</div>	
						<div class="row my-2">
						<div class="col-4 font-weight-bold">{{ form.website.label}}</div>
						<div class="col-8">{{ form.website}}</div>
					</div>	
					<div class="row my-2">
						<div class="col-4 font-weight-bold">{{ form.email.label}}</div>
						<div class="col-8">{{ form.email}}</div>
					</div>	
					<div class="row my-2">
						<div class="col-4 font-weight-bold">{{ form.social.label}}</div>
						<div class="col-8">{{ form.social}}</div>
					</div>						
				</div>					
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row my-2">
						<div class="col-12"><span class="font-weight-bold">{{ form.title.label}}</span><br/>{{ form.title}}</div>
					</div>	
					<div class="row my-2">						
						<div class="col-12"><span class="font-weight-bold">{{ form.description.label}}</span><br/>{{ form.description}}</div>
					</div>	
				</div>
			</div>
		</form>
	</div>
{%endblock%}