{% extends 'admin_temp.html' %}
<!--==Title==-->
{% block title %}
	Admin - User List
{% endblock %}
<!--==Nvbar Brand==-->
{% block sidebar %}
{% endblock %}
<!--==Content==-->
{% block content %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page"><h6 class="mb-0">Event</h6></li>
		</ol>
	</nav>
		
	<!--Form nhap lieu-->
	<div id="app_form" class="mb-4">
		{% if id == None %}
		   <form action="{% url 'event:event' %}" method="post">
		{% else %}
		   <form action="{% url 'event:event_update' id=id %}" method="post">
		{% endif %}
		{% csrf_token %}
		<input type="submit" value="Submit" />				
		<div class="row">
			<div class="col-md-6">
				<div class="row my-2">
					<div class="col-4 font-weight-bold">{{ form.name.label}}</div>
					<div class="col-8">{{ form.name}}</div>
				</div>
				<div class="row my-2">
					<div class="col-4 font-weight-bold">{{ form.category.label}}</div>											
					<div class="col-8">
						<select name="category" id="id_category" style="width:100%">
							{% for name in form.category %}
								{{ name }}
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="row my-2">
					<div class="col-4 font-weight-bold">{{ form.organizer.label}}</div>
					<div class="col-8">{{ form.organizer}}</div>
				</div>
				<div class="row my-2">
					<div class="col-4 font-weight-bold">{{ form.location.label}}</div>
					<div class="col-8">
						<select name="location" id="id_location" style="width:100%">
							{% for name in form.location %}
								{{ name }}
							{% endfor %}
						</select>
					</div>
				</div>					
			</div>
			<div class="col-md-6">
				<div class="row my-2">
					<div class="col-4 font-weight-bold">{{ form.start_date.label}}</div>
					<div class="col-8">{{ form.start_date}}</div>
				</div>
				<div class="row my-2">
					<div class="col-4 font-weight-bold">{{ form.end_date.label}}</div>
					<div class="col-8">{{ form.end_date}}</div>
				</div>		
				<div class="row my-2">
					<div class="col-4 font-weight-bold">{{ form.phone.label}}</div>
					<div class="col-8">{{ form.phone}}</div>
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="col-12 font-weight-bold">{{ form.description.label}}</div>
			<div class="col-12">{{ form.description}}</div>
		</div>
		</form>
	</div>
	<!--Bang hien thi-->
	{% if list_item|length %}		
	<table class="table table-bordered table-sm table-striped">
		<thead style="background:#818182">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for item in list_item %}
			<tr >
				<td>{{ item.name }}</td>
				<td>{{ item.description }}</td>
				<td>{{ item.user }}</td>
				<td><a href="{% url 'event:event_update' id=item.id %}">Edit</a></td>	
				<td><a href="{% url 'event:event_remove' id=item.id %}">Remove</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>	
	{% endif %}
{%endblock%}