{% extends 'admin_temp.html' %}
<!--==Title==-->
{% block title %}
	Admin - User List
{% endblock %}
<!--==Nvbar Brand==-->
{% block sidebar %}
{% endblock %}
<!--==Content==-->
{% block content %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page"><h6 class="mb-0">Event List</h6></li>
		</ol>
	</nav>
	<!--Bang hien thi-->
	{% if list_item|length %}		
	<table class="table table-bordered table-sm table-striped">
		<thead style="background:#818182">
			<tr>
				<th>Name</th>
				<th>Title</th>
				<th>User</th>
				<th>Category</th>
				<th>Organizer</th>
				<th>Location</th>
				<th>Start Date</th>
				<th>Phone</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for item in list_item %}
			<tr >
				<td>{{ item.name }}</td>
				<td>{{ item.title }}</td>
				<td>{{ item.user }}</td>
				<td>{{ item.category }}</td>
				<td>{{ item.organizer }}</td>
				<td>{{ item.location }}</td>
				<td>{{ item.start_date }}</td>
				<td>{{ item.phone }}</td>
				<td><a href="{% url 'event:event_update' id=item.id %}">Edit</a></td>	
				<td><a href="{% url 'event:event_remove' id=item.id %}">Remove</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>	
	{% endif %}
{%endblock%}