{% extends 'front_temp.html' %}
{% block session %}
	{% if user %}		
		{% for item in user %}
			Hello {{item.username}}
		{% endfor %}
	{% endif %}
{%endblock%}
{% block content %}	
<div class="row">
	{% if list_item|length %}
		{% for item in list_item%}
			<div class="col-md-4">
				<div class="event-ft-list">
					<a href="{{ item.get_absolute_url }}">	
						<div class="card">
							<div class="card-header"><time>{{ item.start_date }}</time></div>
							<div class="card-body">
								<h5 class="card-title">{{ item.title }}</h5>
								<p class="card-text">{{ item.location }}</p>
							</div>
							<div class="card-footer text-muted">{{ item.category }}</div>
						</div>
					</a>
				</div>				
			</div>
		{% endfor %}
	{% endif %}
</div>	
{% endblock %}